<link href="/css/top-nav.css" rel="stylesheet"/>
<div class="top-nav">
    <div class="row-fluid">
        <div class="span12">
            <a class="logo" href="/"></a>
            <ul class="controls">
                <li>Welcome<a title="My Account" href="/account/">Misha</a>from&nbsp;Open Mile</li><li class="pose-link ddl-widget"><a href="/auth/pose/">Pose</a></li><li><a href="/dashboard/execution/">Dashboard</a></li><li class="last"><a title="Log Out" href="/logout/" class="logout">Log Out</a></li>
            </ul>
            <span class="help">
                Questions? Call us at 1-800-281-7658
            </span>
        </div>
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Listing</a></li>
                <li class=""><a href="#">Execution</a></li>
                <li class=""><a href="#">User</a></li>
                <li class=""><a href="#">Carrier</a></li>
                <li class=""><a href="#">Shipper</a></li>
                <li class=""><a href="#">Load</a></li>
                <li class=""><a href="#">Facility</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        Quick Actions
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <ul><li><a href="/ops/shipper-search/">Submit Load for Shipper</a></li><li><a href="/ops/shipper/create/">Create Shipper</a></li><li><a href="/ops/pricing-request/">Submit Pricing Request</a></li><li><a href="/ops/price-history/">Price History Tool</a></li><li><a href="/ops/load-sourcing/">Load Sourcing</a></li><li><a href="/ops/actions/create-carrier/?auth_common=True" class="ajax-popup v-popup-width-500 v-popup-padding-0">Create Carrier</a></li></ul>
                    </ul>
                </li>>
            </ul>
        </div>
    </div>
</div>