<link href="/css/side-tabs.css" rel="stylesheet"/>
<div class="side-tabs">
    <div></div>
    <div>
        <ul>
            <li class="active"><a href="#"><span class="link">Home</span></a></li>
            <li><a href="#"><span class="link">Stuff</span></a></li>
            <li><a href="#"><span class="link">Cows</span></a></li>
            <li><a href="#"><span class="link">Cats</span></a></li>
            <li><a href="#"><span class="link">Dogs</span></a></li>
            <li><a href="#"><span class="link">Goats</span></a></li>
            <li><a href="#"><span class="link">Developers Developers Developers!</span></a></li>
        </ul>
    </div>
    <div></div>
</div>