@import '../../bootstrap/less/wells.less';
@import '../../bootstrap/less/variables.less';
@import '../../bootstrap/less/mixins.less';
@import '../../bootstrap/less/utilities.less';

.portlet {
  .well;

  position: relative;
  background-color: #fff;

  div.header {
    position: relative;

    height: auto;
    margin: 10px -19px 15px;
    padding: 12px 18px;

    background-color: @grayLighter;

    >span {
      display: inline-block;
      text-align: left;
      color: black;
      font-size: 15px;
      font-weight: bold;
      .btn { //TODO: do we need to care about this?
        margin-top: -5px;
      }
    }
    >span + span {
      .pull-right;
      font-size: 14px;
      font-weight: normal;
    }

    &:first-child {
      margin: -18px -19px 15px;
      .border-radius(0);
    }
  }

  /*******************************************************/
  /*********************** COLORS  ***********************/
  /*******************************************************/
  &.blue,
  &.dark-blue,
  &.red,
  &.gray,
  &.yellow,
  &.white {
    .header {
      margin-bottom: 5px;
      background: none;
    }
  }

  &.blue {
    background-color: @blue;
  }

  &.gray {
    background-color: @grayLight;
  }

  &.light-gray {
    background-color: @grayLighter;
  }

  &.yellow {
    border-color: #dedaad;
    background-color: #fff9b6;
  }

  &.white {
    background-color: @white;
  }

  &.red {
    border-color: @red;
    background-color: #ffc7c8;
  }

  &.dark-blue {
    color: white;
    border-color: @blueDark;
    background-color: @blueDark;
    div.header {
      >span {
        color: white;
      }
    }
  }

/*******************************************************/
/*********************** CORNERS ***********************/
/*******************************************************/
  &.corner-top, &.corner-bottom, &.corner-left, &.corner-right, &.corner-tl, &.corner-tr, &.corner-br, &.corner-bl, &.corner-none {
    .border-radius(0);
  }

  &.corner-top {
    .border-top-radius(@baseBorderRadius);
  }
  &.corner-bottom {
    .border-bottom-radius(@baseBorderRadius);
  }
  &.corner-left {
    .border-left-radius(@baseBorderRadius);
  }
  &.corner-right {
    .border-right-radius(@baseBorderRadius);
  }
  &.corner-tl {
    .border-top-left-radius(@baseBorderRadius);
  }
  &.corner-tr {
    .border-top-right-radius(@baseBorderRadius);
  }
  &.corner-br {
    .border-bottom-right-radius(@baseBorderRadius);
  }
  &.corner-bl {
    .border-bottom-left-radius(@baseBorderRadius);
  }

/*******************************************************/
/************************ MISC *************************/
/*******************************************************/

  &.nopad {
      padding: 0;
      div.header {
        overflow: hidden;
        margin: 0;
        padding: 12px 18px;
      }
  }


}