{% extends "lib/base.html" %}
{% import "lib/helpers.html" as h %}

{% block styles %}
<link href="/css/side-tabs.css" rel="stylesheet"/>
{% endblock %}


{% block container %}

    <h1>Site Nav</h1>
    {% include 'partials/nav.html' %}

    <h1>Stacked Nav</h1>
    <div class="row">
        <div class="span8"></div>
        <div class="span4">
            <div class="side-tabs">
                <div></div>
                <div>
                    <ul>
                        <li class="active"><a href="#"><span class="link">Home</span></a></li>
                        <li><a href="#"><span class="link">Stuff</span></a></li>
                        <li><a href="#"><span class="link">Cows</span></a></li>
                        <li><a href="#"><span class="link">Cats</span></a></li>
                        <li><a href="#"><span class="link">Dogs</span></a></li>
                        <li><a href="#"><span class="link">Goats</span></a></li>
                        <li><a href="#"><span class="link">Developers Developers Developers!</span></a></li>
                    </ul>
                </div>
                <div></div>
            </div>
        </div>
    </div>

{% endblock %}
        
        
