{% extends "lib/base.html" %}
{% import "lib/helpers.html" as h %}

{% block styles %}
    <link href="/css/portlet.css" rel="stylesheet"/>
{% endblock %}


{% block subnav %}
    <li><a href="#basic"><i class="icon-chevron-right"></i> Basic Portlet</a></li>
    <li><a href="#colors"><i class="icon-chevron-right"></i> Portlet Colors</a></li>
    <li><a href="#corners"><i class="icon-chevron-right"></i> Portlet Corners</a></li>
{% endblock %}

{% block content_class %}span8{% endblock %}

{% block content %}

<section id="basic">
    <div class="page-header">
        <h1>Basic Portlet</h1>
    </div>
    <p>
        Hover over the portlet to see the underlying HTML.
    </p>

    <div class="portlet">
        <div class="header">
            <span>This is the portlet title</span>
            <span><a class="btn btn-small btn-success" href="#">Save</a></span>
        </div>
        This is the portlet body. There can be some text here or whatever you want.
    </div>

    <div class="portlet">
        <div class="header">
            <span>A portlet without a control</span>
        </div>
        This is the portlet body. There can be some text here or whatever you want.
    </div>
</section>

<section id="colors">
    <div class="page-header">
        <h1>Portlet Colors</h1>
    </div>
    <p>
        Portlet color is controlled by specifying a color class, for example to make a red portlet you would write:
    </p>
    <script class="code" type="template/text">
        <div class="portlet red">
            <div class="header">
                <span>Red Portlet</span>
            </div>
            Note the 'red' class added to this portlet.
        </div>
    </script>

    {{ h.portlet('Blue Portlet', cls='blue') }}
    {{ h.portlet('Dark Blue Portlet', cls='dark-blue') }}
    {{ h.portlet('Red Portlet', cls='red') }}
    {{ h.portlet('Gray Portlet', cls='gray') }}
    {{ h.portlet('Light Gray Portlet', cls='light-gray') }}
    {{ h.portlet('Yellow Portlet', cls='yellow') }}
    {{ h.portlet('White Portlet', cls='white') }}

</section>

<section id="corners">
    <div class="page-header">
        <h1>Portlet Corners</h1>
    </div>
    <p>
        Portlets come with all 4 corners rounded by default. If you want to specify that only some corners be rounded, you need to add corner classes to the portlet's class.
    </p>
    <p>
        You can also mix and match the corner classes to get funky combinations
    </p>
    <p>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="width: 100px;">Class Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                {{ h.tr(['corner-top', 'Top two corners are are rounded, bottom are not']) }}
                {{ h.tr(['corner-bottom', 'Bottom two corners are are rounded, top are not']) }}
                {{ h.tr(['corner-left', 'Left two corners are are rounded, right are not']) }}
                {{ h.tr(['corner-right', 'Right two corners are are rounded, left are not']) }}
                {{ h.tr(['corner-tl', 'Only top left corner is rounded']) }}
                {{ h.tr(['corner-bl', 'Only bottom left corner is rounded']) }}
                {{ h.tr(['corner-tr', 'Only top right corner is rounded']) }}
                {{ h.tr(['corner-br', 'Only bottom right corner is rounded']) }}
                {{ h.tr(['corner-none', 'No rounded corners']) }}
            </tbody>
        </table>
    </p>

    {{ h.portlet('Top Rounded', cls='corner-top') }}
    {{ h.portlet('Bottom Rounded', cls='corner-bottom') }}
    {{ h.portlet('Left Rounded', cls='corner-left') }}
    {{ h.portlet('Right Rounded', cls='corner-right') }}
    {{ h.portlet('Top Left Rounded', cls='corner-tl') }}
    {{ h.portlet('Top Right Rounded', cls='corner-tr') }}
    {{ h.portlet('Bottom Left Rounded', cls='corner-bl') }}
    {{ h.portlet('Bottom Right Rounded', cls='corner-br') }}
    {{ h.portlet('None Rounded', cls='corner-none') }}
    {{ h.portlet('Funky Corners', cls='corner-tl corner-br') }}


</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var lorem = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.';
    $(function(){
        $('body.component-portlet .portlet').each(function(){
            var $p = $(this);
            var html = $p.clone().wrap("<div></div>").parent().html();
            var $highlight = highlightBlock(html.replace(lorem, 'Lorem ipsum dolor sit amet...\n    consectetuer adipiscing elit...'));
            $p.addClass('reveal').wrap("<div class='reveal-code'></div>");
            $p.after($highlight);
        });
    });
</script>
{% endblock %}